<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style_plant_details.css">
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=GitHub&display=swap" rel="stylesheet">

    <title>Plantas Medicinais</title>
</head>

<body>
    <header>
        <h1>Plantas Medicinais</h1>
        <nav>
            <ul>
                <li><a href="/">Página Principal</a></li>
                <li><a href="/templates/sobre.html">Sobre</a></li>
                <li><a href="/templates/contato.html">Contato</a></li>
                <li><a href="/templates/plants/plant_details.html">Plantas</a></li>
                <li><a href="/templates/vendedores.html">Vendedores</a></li>
            </ul>
        </nav>
    </header>

    <section class="search-section">
        <h2>Encontre sua planta medicinal</h2>
        <form>
            <input type="text" name="search" id="search-input" placeholder="Digite o nome da planta ou Sintoma">
            <button type="submit" id="search-button">Buscar</button>
        </form>
    </section>

    <section class="featured-plants">
        <!-- Cards das plantas serão adicionados aqui automaticamente -->
    </section>

    <script src="staticjs/main.js"></script>
</body>

</html>
